/*.tar.gz
/*.tar.xz
/*.dsc
*.swp
/*.build
/*.buildinfo
/*.changes
/*.ddeb
/*.deb

/package/*
!/package/debian
!/package/debian/*
package/debian/authpass
.debhelper

package/debian/authpass.substvars
package/debian/debhelper-build-stamp
package/debian/files
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/secrets/signing.public.key
/secrets/signing.secret.key
